################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EFCodeFirstDLL/bin/Debug
/.vs/EFCodeFirstDLL/v15
/packages/EntityFramework.6.2.0
/packages/EntityFramework.ru.6.2.0
/EFCodeFirstDLL/obj/Debug
/.vs

